<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Form</title>
</head>
<body>
        <% if(messages.errors) { %>
            <% for (var x of messages.errors) { %>
             <h3><%= x %></h3>
            <% } %>
        <% } %>
       <h1>Welcome to Quoting</h1>
    <form action="/quotes" method="POST">
        Your Name: <input type="text" name="name">
        Your Quote: <input type="text" name="quote">
        <input type="submit" value="Add My Quote!">
    </form>
    <button><a href="/quotes">Skip to Quotes!</a></button>
</body>
</html>